<ion-header>
  <ion-toolbar class="background-image header_page">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mrn.empresaSeleccionada">{{mrn.empresaSeleccionada.nom_empresa}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="mrn.formVentasApuestas">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-avatar slot="start">
          <img  src="{{mrn.empresaSeleccionada.logo_empresa}}" alt="">
        </ion-avatar>
        <ion-label>
          <h2>{{mrn.empresaSeleccionada.nom_empresa}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Numero celular</ion-label>
        <ion-input style="font-size: 1.5em" formControlName="celular" inputmode="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Numero de documento</ion-label>
        <ion-input formControlName="documento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Valor de la venta</ion-label>
        <input class="input_number" mask="separator.0" thousandSeparator="," inputmode="decimal" formControlName="valor">
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <i style="font-size: 2.4em;color: gray" class="fas fa-dollar-sign"></i>
        </ion-avatar>
        <ion-label>
          <h1>{{mrn.formVentasApuestas.value['valor']|number}}</h1>
          <p>Esta en venta.</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <div style="margin-top: 35px">
      <ion-grid>
        <ion-row style="font-size: 0.8em">
          <ion-col>
            <ion-button shape="round" expand="block" [disabled]="!mrn.formVentasApuestas.valid"
                        (click)="present_resumen_ventas();">Vender</ion-button>
            <ion-button shape="round" color="light" expand="block" (click)="mrn.cancelartVenta()">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-footer></ion-footer>
</ion-footer>
