<ion-header [translucent]="true">
  <ion-toolbar class="background-image header_page">
    <ion-title>MRN Colombia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2 style="text-align: center;padding: 20px;color: grey;margin-top: 50px">
      !La conexión ha cambiado, presiona el botón "continuar" para volver a la aplicación.!
    </h2>
  <div style="margin-top: 10%">
    <ion-button shape="round" expand="full" (click)="aceptar_cambio_red()">Continuar</ion-button>
  </div>
</ion-content>
