<ion-header translucent>
  <ion-toolbar class="background-image header_page">
    <ion-title>Pagos a factura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><i class="fas fa-times" style="font-size: 1.5em"></i></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="secondary" *ngIf="mrn.loading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content fullscreen>
  <div style="width:100%;text-align: center;padding: 2px">
    <img  width="100%" [src]="foto" alt="">
  </div>
  <div *ngIf="!mrn.abonos.length">
    <form [formGroup]="mrn.formPagos">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Total Abono</ion-label>
          <input class="input_number" mask="separator.0" thousandSeparator="," inputmode="decimal" formControlName="abono">
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Numero de comprobante</ion-label>
          <ion-input  formControlName="numero_recibo" #numero (input)="mrn.verificar_soporte_pago(numero.value)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Entidad de recaudo</ion-label>
          <ion-select formControlName="entidad">
            <ion-select-option *ngFor="let entidad of mrn.entidad_recaudo" value="{{entidad.value}}">{{entidad.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de pago</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div *ngIf="mrn.facturasSeleccionadas.length">
    <ion-card *ngFor="let factura of mrn.facturasSeleccionadas">
      <ion-card-content>
        <table class="table_transact">
          <tr>
            <th>Transaccion</th>
            <td>{{factura.id}}</td>
          </tr>
          <tr>
            <th>Valor transaccion</th>
            <td>$ {{factura.valor|number}}</td>
          </tr>
          <tr>
            <th>Saldo pendiente</th>
            <td>$ {{factura.saldo_pendiente_pago|number}}</td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="foto" style="padding: 10px">
    <img style="width: 100%" src="{{foto}}" alt="">
  </div>
  <div style="text-align: center;width: 100%;margin-top: 30px">
    <ion-button shape="round" (click)="tomar_foto()"
                expand="block">{{foto?'Volver a tomar foto':'Subir foto comprobante'}}</ion-button>
    <ion-button [disabled]="!mrn.formPagos.valid" shape="round"
                (click)="mrn.pagarFacturasPendientesRed(mrn.facturasSeleccionadas)"
                expand="block">Enviar pago</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="header_page">
    <ion-grid>
      <ion-row>
        <ion-col size="6" style="text-align: center">
          <span style="font-size: 1.3em;font-weight: bold">{{mrn.totalFacturasAPagar|number}}</span>
          <p style="font-size: 0.8em">
            <i class="fas fa-dollar-sign" style="margin-right: 2px"></i>
            Total a pagar</p>
        </ion-col>
        <ion-col size="6" style="text-align: center">
          <span style="font-size: 1.3em;font-weight: bold">{{mrn.facturasSeleccionadas.length|number}}</span>
          <p style="font-size: 0.8em">
            <i class="fas fa-list"  style="margin-right: 2px"></i>
            Seleccionadas</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
