<ion-header>
  <ion-toolbar class="header_page">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{mrn.tipo_reporte}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><i class="fas fa-times" style="font-size: 1.5em"></i></ion-button>
    </ion-buttons>
    <ion-progress-bar color="secondary" *ngIf="mrn.loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content style="padding: 10px">
  <ion-card>
    <ion-card-content>
      Por favor seleccione una fecha para realizar su consulta.
      <ion-item>
        <ion-label>Desde: </ion-label>
        <ion-input [(ngModel)]="fechai" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hasta: </ion-label>
        <ion-input [(ngModel)]="fechaf" type="date"></ion-input>
      </ion-item>
      <div style="margin-top: 35px" >
        <ion-button shape="round" expand="block" [disabled]="!fechai&&!fechaf"
                    (click)="this.mrn.get_ventas_by_fecha(this.fechai,this.fechaf)">Consultar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-accordion-group *ngIf="mrn.ventas_by_fecha.length">
    <ion-accordion *ngFor="let transaccion of mrn.ventas_by_fecha" value="{{transaccion['data'].producto_venta.producto.id}}">
      <ion-item slot="header">
        <ion-avatar style="margin-right: 15px">
          <img src="{{transaccion.data.producto_venta.producto.empresa.imagen}}" alt="">
        </ion-avatar>
        <ion-label>
          <h2>Ventas: ${{mrn.calcular_totales(transaccion.items)|number}}</h2>
          <h2>Ganancias: ${{mrn.calcular_totales_ganancias(transaccion.items)|number}}</h2>
          <p>{{transaccion.data.producto_venta.producto.empresa.nom_empresa}}</p>
        </ion-label>
      </ion-item>
      <div style="padding: 10px" slot="content">
        <ion-accordion-group>
          <ion-accordion *ngFor="let venta of transaccion.items" value="{{venta.info.id}}">
            <ion-item slot="header">
              <ion-label style="color:{{(venta.info.codigo_resultado=='001'||venta.info.codigo_resultado=='00')?'':'darkred'}}">
                <h3 style="color: {{getIcon(venta.info.codigo_resultado)[1]}}">
                  <ion-icon name="{{getIcon(venta.info.codigo_resultado)[0]}}" style="color: {{getIcon(venta.info.codigo_resultado)[1]}}"></ion-icon>
                  {{venta.info.numeroDestino}}</h3>
                <h5>Valor : ${{venta.info.valor|number}}</h5>
                <h5>Ganancia : ${{venta.info.ganancia|number}}</h5>
                <h5>Venta desde : ${{venta.info.venta_desde}}</h5>
                <p>Fecha : {{venta.info.hour_at|date:'medium'}} </p>
              </ion-label>
            </ion-item>
            <div style="padding: 10px" slot="content">
              <table class="table_transact">
                <tr>
                  <td colspan="2" style="text-align: justify">{{venta.info.producto_venta.producto.nom_producto}}</td>
                </tr>
                <tr>
                  <th>Venta id</th>
                  <td>{{venta.info.id}}</td>
                </tr>
                <tr>
                  <th>Operador</th>
                  <td>{{venta.info.producto_venta.producto.empresa.nom_empresa}}</td>
                </tr>
                <tr>
                  <th>Convenio</th>
                  <td>{{venta.info.convenio_pago}}</td>
                </tr>
                <tr>
                  <th>Referencia</th>
                  <td>{{venta.info.referencia_pago}}</td>
                </tr>
                <tr>
                  <th>Venta desde</th>
                  <td>{{venta.info.venta_desde}}</td>
                </tr>
                <tr>
                  <th>Saldo anterior</th>
                  <td>$ {{venta.info.ultimoSaldo|number}}</td>
                </tr>
                <tr>
                  <th>Valor de la venta</th>
                  <td>$ {{venta.info.valor|number}}</td>
                </tr>
                <tr>
                  <th>Nuevo saldo</th>
                  <td>$ {{venta.info.saldo_actual|number}}</td>
                </tr>
                <tr>
                  <th>Ganancia</th>
                  <td>$ {{venta.info.ganancia|number}}</td>
                </tr>
                <tr>
                  <th>Codigo resultado</th>
                  <td>{{venta.info.codigo_resultado}}</td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: justify;color: grey">{{venta.info.resultado}}</td>
                </tr>
              </table>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item lines="inset">
    <ion-label slot="end">
      <h1>$ {{mrn.total_consulta_ganancias|number}}</h1>
      <p>Total ganancias</p>
    </ion-label>
    <ion-label slot="start">
      <h1>$ {{mrn.total_consulta_ventas|number}}</h1>
      <p>Total ventas</p>
    </ion-label>
  </ion-item>
</ion-content>
