<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mrn.empresaSeleccionada">{{mrn.empresaSeleccionada.nom_empresa}}</ion-title>
  </ion-toolbar>
  <ion-progress-bar color="secondary" *ngIf="mrn.loading" type="indeterminate"></ion-progress-bar>
</ion-header>
<ion-content>
  <form [formGroup]="mrn.formVentasSoat">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-avatar slot="start">
          <img  src="{{mrn.empresaSeleccionada.imagen}}" alt="">
        </ion-avatar>
        <ion-label>
          <h2>{{mrn.empresaSeleccionada.nom_empresa}}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de documento</ion-label>
        <ion-select formControlName="tipo_documento">
          <ion-select-option *ngFor="let tipo of mrn.tiposId" value="{{tipo.value}}">{{tipo.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Numero de documento</ion-label>
        <ion-input formControlName="documento" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Placa vehiculo</ion-label>
        <ion-input formControlName="placa" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono del tomador</ion-label>
        <ion-input formControlName="celular" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo electronico del tomador</ion-label>
        <ion-input formControlName="email_soat" type="text"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full"  [disabled]="!mrn.formVentasSoat.value['tipo_documento']
                                        || !mrn.formVentasSoat.value['documento']
                                        || !mrn.formVentasSoat.value['placa']"
                        (click)="mrn.consulta_placasoat_ms(false)" size="small" >Consultar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full"  (click)="mrn.formVentasSoat.reset();mrn.productoCodificadoSeleccionado = ''"
                        size="small" color="light" >Limpiar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar class="header_page" *ngIf="mrn.misBoslsasDinero">
    <ion-grid>
      <ion-row>
        <ion-col size="6" style="text-align: center">
          <span style="font-size: 1.3em;font-weight: bold">{{mrn.misBoslsasDinero.saldo_disponible|number}}</span>
          <p style="font-size: 0.6em">
            <i class="fas fa-dollar-sign" style="margin-right: 2px"></i>
            Saldo disponible</p>
        </ion-col>
        <ion-col size="6" style="text-align: center">
          <span style="font-size: 1.3em;font-weight: bold">{{mrn.misBoslsasDinero.utilidad|number}}</span>
          <p style="font-size: 0.6em">
            <i class="fas fa-wallet"  style="margin-right: 2px"></i>
            Mis ganancias</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
