<ion-content no-scroll padding class="background-image">
  <div class="logo">
    <img style="margin-top: 30%" src="assets/logo-mirage@2x.png" alt="mirage-layout"/>
  </div>
  <form [formGroup]="this.loginForm" style="margin-top: 90%;padding: 15px">
  <ion-item class="login_form">
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input formControlName="username"></ion-input>
  </ion-item>
  <ion-item class="login_form">
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input formControlName="password" type="password"></ion-input>
</ion-item>
    <div style="margin-top: 10%">
      <ion-button shape="round" expand="full" (click)="login()">Ingresar</ion-button>
    </div>
  </form>
</ion-content>
