<ion-content no-scroll padding class="background-image">
  <div class="logo" *ngIf="mrn.teclado_show">
    <img style="margin-top: 25%;width: 100px" src="assets/logo-mirage@2x.svg" alt="mirage-layout"/>
  </div>
  <form [formGroup]="this.loginForm" style="margin-top:{{!mrn.teclado_show?'15%':'50%'}};padding: 15px">
    <ion-item class="login_form">
      <ion-label position="stacked">Nombre de usuario</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item class="login_form">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
    <!--<ion-item class="login_form" lines="none">
      <ion-label style="font-size: 0.8em;color: gray">Mantener mi sesion abierta</ion-label>
      <ion-checkbox checked="false" slot="end" ></ion-checkbox>
    </ion-item>-->
    <div style="margin-top: 10%">
        <ion-button [disabled]="!loginForm.valid" shape="round" expand="full" (click)="login()">Ingresar</ion-button>
      </div>
  </form>
  <div  *ngIf="mrn.teclado_show" style="font-size: 0.8em;color: gray;text-align: center;margin-top: 10%">
    <p><i class="far fa-copyright"></i> MRN Colombia 2022</p>
    <p>www.mrncolombia.com</p>
    <p>ver:2.2</p>
  </div>
</ion-content>
