<ion-app>
  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" type="overlay" *ngIf="api.usuario">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-item >
            <div style="text-align: center;width: 100%;padding: 10px 0 25px 0">
              <img style="width: 50%" src="assets/logo-mirage@2x.svg" alt="mirage-layout"/>
            </div>
          </ion-item>
          <ion-item>
            <ion-avatar slot="end" style="text-align: center;padding-top: 10px">
              <i style="font-size: 1.5em;color:#5e81ac" class="fas fa-user-cog"></i>
            </ion-avatar>
            <ion-label style="color:#5e81ac">
              <h2>{{api.nodoActual['representanteLegal']}}</h2>
              <p style="font-size: 0.9em">{{api.nodoActual['tipoComision']=='CA'?'Comision anticipada':'Comision por venta'}}</p>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="!api.nodoActual['mora']" routerDirection="root"
                      [routerLink]="'/inicio'" lines="none" detail="false">
              <i style="color:#5e81ac" slot="start" class="fas fa-store"></i>
              <ion-label style="color:#5e81ac">
                <h2>Ventas</h2>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!api.nodoActual['mora']" routerDirection="root"
                      [routerLink]="'/saldo'" lines="none" detail="false">
              <i style="color:#5e81ac" slot="start" class="fas fa-hand-holding-usd"></i>
              <ion-label style="color:#5e81ac">
                <h2>Solicitud de saldo</h2>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="!api.nodoActual['mora']" routerDirection="root" (click)="this.mrn.getCartera(this.api.nodoActual)"
                      [routerLink]="'/cartera'" lines="none" detail="false">
              <i style="color:#5e81ac" slot="start" class="fas fa-file-invoice-dollar"></i>
              <ion-label style="color:#5e81ac">
                <h2>Estado de cartera</h2>
              </ion-label>
            </ion-item>
            <ion-item routerDirection="root"
                      [routerLink]="'/reportes'" lines="none" detail="false">
              <i style="color:#5e81ac" slot="start" class="fas fa-chart-bar"></i>
              <ion-label style="color:#5e81ac">
                <h2>Consultas</h2>
              </ion-label>
            </ion-item>
            <ion-item routerDirection="root" (click)="api.logOut()" lines="none" detail="false">
              <i style="color:#5e81ac" slot="start" class="fas fa-sign-out-alt"></i>
              <ion-label style="color:#5e81ac">
                <h2>Salir</h2>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
