<ion-header translucent>
  <ion-toolbar class="background-image header_page">
    <ion-title>Resultado de la venta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><i class="fas fa-times" style="font-size: 1.5em"></i></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="secondary" *ngIf="mrn.loading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content fullscreen>
  <div style="text-align: center;margin-top: 10px">
    <ion-icon  style="font-size: 2.4em;color: {{getColorIcon(mrn.trans_resultado_venta.codigo_resultado)[0]}}"  name="{{getColorIcon(mrn.trans_resultado_venta.codigo_resultado)[1]}}"></ion-icon>
  </div>
  <div style="text-align: center">
    <span style="font-size: 1.5em;font-weight: bold">{{mrn.trans_resultado_venta.resultado}}</span>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>{{mrn.trans_resultado_venta.id}}</h3>
        <p>Transacción N°</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{mrn.trans_resultado_venta.hour_at| date:'short'}}</h3>
        <p>Fecha</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{mrn.trans_resultado_venta.numeroDestino}}</h3>
        <p>Número celular</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.mrn.factura_consultada">
      <ion-label>
        <h5>{{this.mrn.trans_resultado_venta.convenio_pago}}</h5>
        <p>Convenio</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!this.mrn.factura_consultada">
    <ion-label>
      <h5>{{mrn.trans_resultado_venta.nom_producto}}</h5>
      <p>Producto en venta</p>
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{mrn.trans_resultado_venta.nombre_empresa}}</h3>
        <p>Empresa</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>$ {{mrn.trans_resultado_venta.valor|number}}</h3>
        <p>Valor venta</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button style="margin-top: 30px" shape="round" expand="block"
                    (click)="mrn.trans_resultado_venta = '';dismissModal();
              mrn.formVentasRecaudo.reset();mrn.convenio_seleccionado = '';
              mrn.factura_consultada=''">Aceptar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" *ngIf="api.nodoActual['imprime']" style="margin-top: 30px" shape="round" expand="block"
                    (click)="mrn.imprimir_soporte(mrn.trans_resultado_venta);mrn.trans_resultado_venta = '';dismissModal();
              mrn.formVentasRecaudo.reset();mrn.convenio_seleccionado = '';
              mrn.factura_consultada=''">Imprimir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
