<ion-header>
  <ion-toolbar class="background-image header_page">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mrn.empresaSeleccionada">{{mrn.empresaSeleccionada.nom_empresa}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="mrn.formVentasRecaudo">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item detail (click)="presentModal()">
        <ion-avatar slot="start">
          <img  src="{{mrn.empresaSeleccionada.imagen}}" alt="">
        </ion-avatar>
        <ion-label>
          <h2>Reacudo seleccionado</h2>
          <p class="wrap">{{mrn.convenio_seleccionado?mrn.convenio_seleccionado.nombre:'Seleccione un convenio.'}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Referencia de pago</ion-label>
        <ion-input style="font-size: 1.5em" formControlName="referencia" type="number"></ion-input>
        <ion-icon name="barcode-outline" slot="end" (click)="obtener_codigo_barras()"></ion-icon>
      </ion-item>

      <ion-button shape="round" expand="block" (click)="mrn.consultar_referencia()">Consultar</ion-button>
      <ion-button shape="round" expand="block" (click)="mrn.convenio_seleccionado = '';
      mrn.formVentasRecaudo.reset();mrn.factura_consultada='';" color="light">Limpiar</ion-button>
      <ion-item style="marign-top:35px" *ngIf="mrn.factura_consultada">
        <ion-label>
          <h4>{{mrn.factura_consultada.nconvenio}}</h4>
          <p>{{'Nombre convenio'}}</p>
        </ion-label>
      </ion-item>
      <ion-item style="marign-top:5px" *ngIf="mrn.factura_consultada">
        <ion-avatar slot="start">
          <i style="font-size: 2.4em;color: gray" class="fas fa-dollar-sign"></i>
        </ion-avatar>
        <ion-label>
          <h1>{{mrn.factura_consultada.valorPago|number}}</h1>
          <p>{{'Valor de pago'}}</p>
        </ion-label>
      </ion-item>
      <ion-item style="marign-top:35px" *ngIf="mrn.factura_consultada">
        <ion-label position="stacked">Numero celular</ion-label>
        <ion-input style="font-size: 1.5em" formControlName="telefono" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <div style="margin-top: 15px" *ngIf="mrn.factura_consultada">
      <ion-grid>
        <ion-row style="font-size: 0.8em" *ngIf="mrn.formVentasRecaudo.value['telefono']">
          <ion-col>
            <ion-button shape="round" (click)="present_resumen_ventas()"  expand="block">Continuar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
