<ion-header [translucent]="true">
  <ion-toolbar class="background-image header_page">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MRN Recargas</ion-title>
    <ion-badge [routerLink]="'/cartera'" *ngIf="mrn.facturasMora.length" slot="end"  style="margin-right: 10px" color="danger">En mora</ion-badge>
    <ion-progress-bar color="secondary" *ngIf="mrn.loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
 <!-- <ion-button (click)="printStuff()">
    mensaje
  </ion-button>-->
  <ion-refresher slot="fixed" (ionRefresh)="actualizarVentasInicio($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Deslice para refrescar"
      refreshingSpinner="circles"
      refreshingText="Cargando...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-segment color="medium" value="ventas" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="ventas">
      <ion-label style="font-size: 0.8em">
        Punto de venta
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="ultimas" (click)="mrn.getLastVentasByNodo()">
      <ion-label style="font-size: 0.8em">
        Ultimas ventas
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segmento == 'ventas'" style="margin-top: 25px">
    <ion-accordion-group>
      <ion-accordion *ngFor="let categoria of mrn.lista_comisiones_venta" value="{{categoria.id}}">
        <ion-item slot="header" (click)="seleccionarCategoria(categoria)">
          <ion-label>
            <h2 style="font-size: 1em;font-weight: bold;color:#3880ff">{{categoria.nom_categoria}}</h2>
            <p style="font-size: 0.8em">{{ categoria.empresas.length}}
              {{ categoria.empresas.length>1?'servicios registrados':'servicio registrado'}}</p>
          </ion-label>
        </ion-item>
        <div style="padding: 10px" slot="content">
          <ion-grid>
            <ion-row>
              <ion-col size="{{categoria.empresas.length>1?'3':'12'}}" *ngFor="let empresa of categoria.empresas" (click)="seleccionarEmpresa(empresa)" style="padding:10px;text-align: center">
                <img style="width:{{categoria.empresas.length>1?'100px':''}}" src="{{empresa.logo_empresa}}"/>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div *ngIf="segmento == 'ultimas'" >
    <ion-searchbar showCancelButton="focus" animated placeholder="Buscar" #value
                   (ionInput)="mrn.get_ventas_by_celular(value.value)"></ion-searchbar>
    <ion-accordion-group>
      <ion-accordion *ngFor="let venta of mrn.ventas_by_nodo" value="{{venta.id}}">
        <ion-item slot="header">
          <ion-label>
            <h3 [style]="{'color':(venta.codigo_resultado != '001'&&venta.codigo_resultado != '00'?' darkred':'darkgreen')}">
              <i class="fas fa-{{venta.codigo_resultado != '001'&&venta.codigo_resultado != '00'?'times-circle':'check-circle'}}"
                   [style]="{'color':(venta.codigo_resultado != '001'&&venta.codigo_resultado != '00'?' darkred':'darkgreen')}"></i> {{venta.numeroDestino}}</h3>
            <p>{{venta.created_at|date:"dd-MM-yyyy"}} {{venta.hour_at|date:'shortTime'}} </p>
            <p *ngIf="venta.venta_desde" >
              Venta desde:
              <span [style]="{'color':venta.venta_desde=='Ganancias'?'#3880ff':'','font-weight':'bold'}">{{venta.venta_desde}}</span></p>
          </ion-label>
        </ion-item>
        <div style="padding: 10px" slot="content">
          <table class="table_transact">
            <tr>
              <td colspan="2" style="text-align: justify">{{venta.nom_producto}}</td>
            </tr>
            <tr>
              <th>Venta id</th>
              <td>{{venta.id}}</td>
            </tr>
            <tr *ngIf="venta.referencia_pago != 'n/a'">
              <th>Referencia</th>
              <td>{{venta.referencia_pago}}</td>
            </tr>
            <tr>
              <th>Codigo aprobacion</th>
              <td>{{venta.codigo_transaccion_externa}}</td>
            </tr>
            <tr>
              <th>Venta desde</th>
              <td>{{venta.venta_desde}}</td>
            </tr>
            <tr>
              <th>Operador</th>
              <td>{{venta.nom_empresa}}</td>
            </tr>
            <tr *ngIf="venta.convenio_pago != 'n/a'">
              <th>Convenio</th>
              <td>{{venta.convenio_pago}}</td>
            </tr>
            <tr>
              <th>Saldo anterior</th>
              <td>$ {{venta.ultimoSaldo|number}}</td>
            </tr>
            <tr>
              <th>Valor de la venta</th>
              <td>$ {{venta.valor|number}}</td>
            </tr>
            <tr>
              <th>Nuevo saldo</th>
              <td>$ {{venta.saldo_actual|number}}</td>
            </tr>
            <tr>
              <th>Ganancia</th>
              <td>$ {{venta.ganancia|number}}</td>
            </tr>
            <tr>
              <th>Telefono</th>
              <td>{{venta.numeroDestino}}</td>
            </tr>
            <tr>
              <th>Codigo resultado</th>
              <td>{{venta.codigo_resultado}}</td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: justify;color: grey">{{venta.resultado}}</td>
            </tr>
            <tr *ngIf="venta.soporte">
              <td colspan="2" style="text-align: justify;color: grey"><a href="{{venta.soporte}}">Ver documento</a></td>
            </tr>
            <tr style="text-align: right" *ngIf="api.nodoActual['imprime'] && venta.codigo_resultado == '001' || venta.codigo_resultado == '00'">
              <td colspan="2" style="color: darkblue">
                <span  (click)="mrn.imprimir_soporte(venta)">Imprimir recibo</span>
              </td>
            </tr>
          </table>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
<app-footer></app-footer>
